.container{
	max-width:780px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}


.nanumbarungothic{
	font-family:"NanumBarunGothic";
}
.nanumbarungothicbold{
	font-family:"NanumBarunGothicBold";
}
.nanumbrush{
	font-family:"NanumBrush";
}
.nanumgothic{
	font-family:"NanumGothic";
}
.nanumgothicbold{
	font-family:"NanumGothicBold";
}
.nanumgothicextrabold{
	font-family:"NanumGothicExtraBold";
}
.nanumgothiclight{
	font-family:"NanumGothicLight";
}
.nanummyeongjo{
	font-family:"NanumMyeongjo";
}
.nanummyeongjobold{
	font-family:"NanumMyeongjoBold";
}
.nanummyeongjoextrabold{
	font-family:"NanumMyeongjoExtraBold";
}
.nanumpen{
	font-family:"NanumPen";
}